body {
    background-color: #141414;
}

h1 {
    color: #f7f7f7;
}
h2 {
    margin-top: 10vh;
    color: #f7f7f7;
}

a {
    color: black;
    font-size: 2vw;
}

hr {
    background-color: #f7f7f7;
    height: 0.2vh;
}

label, input, textarea {
    font-family: elza, sans-serif;
    font-size: 1.8vw;
    border: none;
    background-color: #14141400;
    transition: all 0.1s ease-in-out;
}
label {
    color: #f7f7f7a9;
    font-weight: 600;
    width: 30%;
    font-size: 3vw;
}
input {
    color: #f7f7f7;
    font-weight: 400;
    width: 70%;
    position: absolute;
    right: 0;
    font-size: 2.2vw;
    margin-top: -2px
}
textarea {
    resize: none;
    height: 25vh;
    width: 70%;
    color: #f7f7f7;
    font-size: 2.6vw;
}
textarea:focus, input:focus {
    outline: none;
    border-bottom: #F7F7F7 solid 3px;
}
button {
    font-family: 'JetBrains Regular', monospace;
    padding: 10px;
    width: 30%;
    border: none;
    background-color: #F7F7F7;
}
footer {
    margin-top: 10vh;
}
footer img {
    width: 100%;
}

.menu-scrap * {
    color: black;
}
.menu-scrap hr {
    background-color: black;
}

.side-by-side {
    margin-top: 12vh;
    flex-direction: column-reverse;
    align-items: revert;
}
.side-by-side > div {
    padding: 0 3vw;
}
.side-by-side img {
    width: 40%;
    height: auto;
    margin-left: 60%;
}
.side-by-side a {
    font-family: 'JetBrains Regular', monospace;
    padding: 12px 10px;
    width: 40%;
    border: none;
    background-color: #F7F7F7;
    text-align: center;
    display: inline-block;
}

.contact-form {
    width: 96%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 2vh 0;
}
.form-field {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: solid white 1px;
}

.required:after {
    content: "*";
    position: absolute;
    top: 0;
    right: 0;
}
.social-buttons {
    display: flex;
    gap: 0.5vw;
    padding: 0;
    margin: 0 0 0 60%;
}

.menu-scrap-options {
    gap: revert;
}

@media (min-width: 760px) {
    h1 {
        margin: 1vh 1vw -2vh;
        position: relative;
        font-size: 8vw;
        max-width: 50%;
    }
    h2 {
        margin: 2vh 0;
    }

    a {
        font-size: 1.4vw;
    }

    input {
        font-size: 1.6vw;
        padding: 0;
        margin-top: -4px;
    }
    label {
        font-size: 1.6vw;
    }
    textarea {
        font-size: 1.4vw;
    }

    footer img {
        width: 40%;
    }
    
    .menu a, hr {
        color: #F7F7F7;
    }
    
    .side-by-side {
        height: 100%;
        flex-direction: row;
    }
    .side-by-side > div {
        width: 50%;
        height: 100%;
    }
    
    .contact-form {
        max-height: 100vh;
    }

    .side-by-side img {
        width: 40vh;
        max-width: 40vw;
        object-fit: cover;
        margin: 2vh 0 1vh 0;
        overflow: hidden;
    }
    .social-buttons {
        margin-left: none;
        margin: 0 0 0 0;
    }
    .social-buttons a {
        width: 6vw;
        font-size: 1vw;
    }
}