@font-face {
    font-family: 'Panchang Medium';
    src: url('../fonts/Panchang-Medium.otf') format('opentype');
}
@font-face {
    font-family: 'JetBrains Regular';
    src: url('../fonts/JetBrainsMono-Regular.ttf') format('truetype');
}

h1 {
    font-family: elza, sans-serif;
    font-weight: 500;
    font-style: normal;
    letter-spacing: -2px;
    font-size: 14vw;
    color: black;
    margin: min(2vh, 2vw) 0 0 1vw;
    z-index: 999;
    position: absolute;
    top: 1vh;
    left: 50%;
    transform: translate(-50%, 0);
}
h1:hover {
    cursor: pointer;
}

h2 {
    font-family: elza, sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -0.1px;
    font-size: 8vw;
    color: black;
    width: 80vw;
}

p {
    color: black;
}

a {
    font-family: elza, sans-serif;
    font-weight: 700;
    font-style: normal;
    letter-spacing: -0.1px;
    color: #F7F7F7;
    text-decoration: none;
}

img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

footer {
    background-color: black;
    padding: 3vh 8vw;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

hr {
    width: 100%;
    color: #F7F7F7;
    background-color: #F7F7F7;
    border: none;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

footer img {
    width: 90%;
    margin: 0 auto;
    height: auto;
}
footer hr {
    background: #F7F7F7;
    height: 1vh;
    width: 100%;
    margin-top: 3vh;
    border: none;
}

.tilt-bg {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-image: url("../assets/model_bg_enlarged.png");
    background-repeat: no-repeat;
    background-size: 100% 100vh;
}
.splash-screen {
    position: absolute;
    top: -10vh;
    left: -10vw;
    width: 120vw; /* Make the image larger than the viewport */
    height: 110vh;
    object-fit: cover;
}

.menu {
    display: none;
}

.landing-divider {
    display: none;
}
    
.above-three-quarters {
    position: absolute;
    bottom: 40vh;
    right: 2vw;
    font-family: elza, sans-serif;
    font-weight: 700;
    font-style: normal;
    width: 75vw;
    text-align: right;
    font-size: 2.6vw;
}

.below-three-quarters {
    position: absolute;
    top: 61vh;
    right: 2vw;
    font-family: elza, sans-serif;
    font-weight: 700;
    font-style: normal;
    width: 90vw;
    text-align: right;
    line-height: 1.1;
    font-size: 3vw;
}

.landing-link {
    position: absolute;
    left: 2vw;
    top: 80vh;
}
.landing-link p {
    font-family: elza, sans-serif;
    font-weight: 400;
    font-style: normal;
}
.link-header {
    font-size: 6vw;
}
.link-text {
    font-size: 8vw;
}
.arrow {
    height: 8vw;
    width: auto;
}

.side-by-side {
    display: flex;
    align-items: center;
    gap: 3vw;
}

.split-text {
    padding: 5vh 2vw;
    display: flex;
    flex-direction: column;
    gap: 2vw;
}
.split-text p {
    width: 85vw;
    font-family: elza, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 4vw;
    text-align: right;
    margin-left: 8vw;
}

.underlay-image {
    position: relative;
    margin: 0;
    background-color: black;
    height: 60vh;
}
.underlay-image img {
    height: 60vh;
}

.quote-section {
    position: absolute;
    bottom: 20%;
    left: 2vw;
    display: flex;
    gap: 2vw;
}
.quote-section :first-child {
    font-family: "Panchang Medium", Arial, Helvetica, sans-serif;
    font-size: 10vw;
}
.quote-section :last-child {
    font-family: elza, sans-serif;
    font-size: 4vw;
    width: 60vw;
}

.footer-container {
    display: flex;
    gap: 6vw;
    width: 50%;
    margin: 0 0 8vw;
}
.footer-container > :first-child {
    font-family: 'JetBrains Regular', Arial, Helvetica, sans-serif;
    color: #F7F7F7;
    font-size: 6vw;
}
.footer-container > :nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 4vw;
}
.footer-container > :nth-child(2) * {
    font-family: elza, sans-serif;
    font-weight: 400;
    color: #F7F7F7;
    font-size: 3vw;
    letter-spacing: 0.4px;
}
.footer-container > :nth-child(2) > h3 {
    font-size: 6vw;
}

.menu-scrap {
    position: fixed;
    top: 200vh;
    left: 0.5vw;
    right: 0.5vw;
    height: 50vh;
    transform: rotate(100deg);
    transition: all 0.6s ease-in-out;
    z-index: 99;
}
.menu-scrap .rel {
    width: 100%;
    height: 100%;
}
.menu-scrap img {
    width: 100%;
    height: auto;
    object-fit: contain;
}
.menu-scrap hr {
    margin: 1px 1vw 4px 0;
    height: 0.15vh;
    width: 80%;
}
.menu-scrap a {
    transition: transform 0.3s ease-in-out;
    width: 50%;
    display: inline-block;
}
.menu-scrap a:hover, a#selected {
    transform: translateX(4vw);
}

.menu-scrap-options {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 0.5vh;
    margin: 25% 10%;
    position: absolute;
    top: 0;
}

.burger-button {
    display: block;
    position: absolute;
    top: min(46px, 8vw);
    right: 4vw;
    width: 12vw;
    height: 4vw;
    z-index: 999;
    object-fit: contain;
    transition: all 0.6s ease-in-out;
}
.burger-button:hover {
    cursor: pointer;
}

.rel {
    position: relative;
}

@media (min-width: 760px) {
    h1 {
        color: black;
        top: 0;
        left: 0;
        transform: translate(0, 0);
    }

    .menu {
        position: absolute;
        top: 0;
        right: 0vw;
        margin-right: 1vw;
        margin-top: 1vw;
        display: flex;
        flex-direction: column;
        width: 30vw;
    }
    h2 {
        font-size: 5vw;
        width: revert;
    }
    
    a {
        color: black;
        font-size: 1.2vw;
    }
    
    hr {
        width: 100%;
        color: black;
        background-color: black;
        border: none;
    }
    
    footer {
        flex-direction: row;
        padding: 12vh 6vw;
    }
    
    ul {
        gap: 0.5vw;
    }

    img {
        height: revert;
    }

    footer img {
        width: 40%;
    }
    
    .menu {
        display: block;
    }
    .menu hr {
        margin: 1px 1vw 2px 0;
        height: 0.15vh;
        width: 30vw;
    }
    .menu a {
        transition: transform 0.3s ease-in-out;
        width: 10vw;
        display: inline-block;
    }
    .menu a:hover, a#selected {
        transform: translateX(2vw);
    }
    
    .landing-divider {
        position: absolute;
        top: 70vh;
        margin: 0 1vw;
        width: 98%;
        height: 0.3vh;
        display: block;
    }

    .above-three-quarters {
        font-size: max(1.1vw, 1.3vh);
        text-align: left;
        width: 25vw;
        right: revert;
        left: 50vw;
        bottom: 32vh;
    }
    
    .below-three-quarters {
        left: 50vw;
        right: revert;
        font-size: max(1.3vw, 1.5vh);
        width: 25vw;
        text-align: left;
        top: 72vh;
    }
    
    .landing-link {
        top: 72vh;
        left: 1vw;
    }
    
    .link-header {
        font-size: max(2vw, 2.4vh);
    }
    
    .link-text {
        font-size: max(2.2vw, 2.8vh);
    }

    .arrow {
        height: max(3vw, 3.6vh);
    }
    
    .side-by-side {
        gap: 1.5vw;
    }
    
    .split-text {
        margin: 10vh 2vw 5vh 2vw;
        justify-content: space-between;
        gap: revert;
        flex-direction: row;
    }
    .split-text h2 {
        width: 40vw;
    }
    .split-text p {
        width: 40vw;
        font-size: 2vw;
        margin-left: revert;
    }
    
    .underlay-image {
        position: relative;
        margin: 0;
        background-color: black;
        height: revert;
    }
    .underlay-image img {
        height: revert;
    }
    .quote-section :first-child {
        font-size: 5vw;
    }
    .quote-section :last-child {
        font-size: 2vw;
        width: 20vw;
    }
    
    .footer-container {
        gap: 3vw;
        width: 25%;
        margin: 0 0 6vw;
    }
    .footer-container > :first-child {
        font-size: 3vw;
    }
    .footer-container > :nth-child(2) {
        gap: 2vw;
    }
    .footer-container > :nth-child(2) > h3 {
        font-size: 3vw;
    }
    .footer-container > :nth-child(2) * {
        font-size: 1.5vw;
    }
    footer hr {
        height: 2vh;
        width: 40%;
        position: absolute;
        bottom: 12vh;
        margin-top: revert;
    }
    footer div {
        width: 50%;
    }

    .menu-scrap {
        display: none;
    }
    .burger-button {
        display: none;
    }
}
