@font-face {
    font-family: 'Panchang Medium';
    src: url('../fonts/Panchang-Medium.otf') format('opentype');
}
@font-face {
    font-family: 'JetBrains Regular';
    src: url('../fonts/JetBrainsMono-Regular.ttf') format('truetype');
}

@keyframes titleBlock {
    0% {
        width: 0;
        left: 20vw; /* depends on the left position of the h1 element */
        right: auto;
    }
    50% {
        width: 60vw; /* depends on the width of the h1 element */
        right: 20vw; /* depends on the right position of the h1 element */
    }
    100% {
        width: 0;
        left: auto;
        right: 20vw; /* depends on the right position of the h1 element */
    }
}

@keyframes fadeIn {
    from {
        opacity: 1;
    }
    to {
        opacity: 1;
    }
}

h1 {
    font-family: elza, sans-serif;
    font-weight: 500;
    font-style: normal;
    letter-spacing: -2px;
    color: black;
    margin: 0 0 0 1vw;
    z-index: 999;
    position: absolute;
    top: 2vh;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 14vw;
    -webkit-animation: fadeIn 1s forwards;
    -o-animation: fadeIn 1s forwards;
    animation: fadeIn 1s forwards;
    animation-delay: 0.9s;
    opacity: 0;
}
h1:hover {
    cursor: pointer;
}

h2 {
    font-family: elza, sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -0.1px;
    font-size: 8vw;
    color: black;
    width: 80vw;
}

p {
    color: black;
    font-family: elza, sans-serif;
    font-weight: 400;
}

a {
    font-family: elza, sans-serif;
    font-weight: 700;
    font-style: normal;
    letter-spacing: -0.1px;
    color: #F7F7F7;
    text-decoration: none;
}

img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

header {
    height: 18vw;
}

footer {
    background-color: black;
    padding: 5vh 8vw;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

hr {
    width: 100%;
    color: #F7F7F7;
    background-color: #F7F7F7;
    border: none;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

footer img {
    margin: 0 auto;
    height: auto;
    object-fit: contain;
}
footer hr {
    background: #F7F7F7;
    height: 2vh;
    width: 100%;
    margin-top: 3vh;
    border: none;
}

.title-block {
    top: 1.8vh; /* depends on height of h1 */
    left: 30vw; /* depends on left position of the h1 */
}
.block {
    position: absolute;
    width: 0%;
    height: 12vw; /* depends on height of h1 */
    background: black;
    animation: titleBlock 1s cubic-bezier(.74, .06, .4, .92) forwards;
    animation-delay: 0.4s;
    z-index: 999;
}

.menu {
    display: none;
}

.side-by-side {
    display: flex;
    align-items: center;
    gap: 3vw;
}

.footer-container {
    display: flex;
    gap: 6vw;
    width: 50%;
    margin: 0 0 8vw;
}
.footer-container > :first-child {
    font-family: 'JetBrains Regular', Arial, Helvetica, sans-serif;
    color: #F7F7F7;
    font-size: 6vw;
}
.footer-container > :nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 4vw;
}
.footer-container > :nth-child(2) * {
    font-family: elza, sans-serif;
    font-weight: 400;
    color: #F7F7F7;
    font-size: 3vw;
    letter-spacing: 0.4px;
}
.footer-container > :nth-child(2) > h3 {
    font-size: 6vw;
}

.menu-scrap {
    position: fixed;
    top: 200vh;
    left: 0.5vw;
    right: 0.5vw;
    height: 50vh;
    transform: rotate(100deg);
    transition: all 0.6s ease-in-out;
    z-index: 99;
}
.menu-scrap .rel {
    width: 100%;
    height: 100%;
}
.menu-scrap img {
    width: 100%;
    height: auto;
    object-fit: contain;
}
.menu-scrap hr {
    margin: 1px 1vw 4px 0;
    height: 0.15vh;
    width: 80%;
}
.menu-scrap a {
    transition: transform 0.3s ease-in-out;
    width: 50%;
    display: inline-block;
}
.menu-scrap a:hover, a#selected {
    transform: translateX(4vw);
}

.menu-scrap-options {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 0.5vh;
    margin: 25% 10%;
    position: absolute;
    top: 0;
}

.burger-button {
    display: block;
    position: absolute;
    top: min(46px, 8vw);
    right: 4vw;
    width: 12vw;
    height: 4vw;
    z-index: 999;
    object-fit: contain;
    transition: all 0.6s ease-in-out;
}
.burger-button:hover {
    cursor: pointer;
}

.rel {
    position: relative;
}

@media (min-width: 760px) {
    h1 {
        color: black;
        top: 1vh;
        left: 0;
        transform: translate(0, 0);
    }

    .menu {
        position: absolute;
        top: 0;
        right: 0vw;
        margin-right: 1vw;
        margin-top: 1vw;
        display: flex;
        flex-direction: column;
        width: 30vw;
    }
    h2 {
        font-size: 5vw;
        width: revert;
    }
    
    a {
        color: black;
        font-size: 1.4vw;
    }
    
    hr {
        width: 100%;
        color: black;
        background-color: black;
        border: none;
    }

    header {
        height: calc((91.194px + (100vw - 760px) / 100 + 2vw));
    }
    
    footer {
        flex-direction: row;
        padding: 12vh 6vw;
    }
    
    ul {
        gap: 0.5vw;
    }

    img {
        height: revert;
    }

    footer img {
        width: 40%;
    }
    
    .menu {
        display: block;
    }
    .menu hr {
        margin: 1px 1vw 2px 0;
        height: 0.15vh;
        width: 30vw;
    }
    .menu a {
        transition: transform 0.3s ease-in-out;
        width: 10vw;
        display: inline-block;
        margin: 4px 0 -6px 0;
    }
    .menu a:hover, a#selected {
        transform: translateX(2vw);
    }
    
    .footer-container {
        gap: 3vw;
        width: 25%;
        margin: 0 0 6vw;
    }
    .footer-container > :first-child {
        font-size: 3vw;
    }
    .footer-container > :nth-child(2) {
        gap: 2vw;
    }
    .footer-container > :nth-child(2) > h3 {
        font-size: 3vw;
    }
    .footer-container > :nth-child(2) * {
        font-size: 1.5vw;
    }
    footer hr {
        height: 2vh;
        width: 40%;
        position: absolute;
        bottom: 12vh;
        margin-top: revert;
    }
    footer div {
        width: 50%;
    }

    .menu-scrap {
        display: none;
    }
    .burger-button {
        display: none;
    }
}
